/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html { font-size: 62.5%; }

body {
    background: #d3e9dd url(/img/bkg_txt.svg) center top no-repeat;
    background-size: 2500px 840px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;  font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 auto;
    color: #607a77;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
    
    .no-svg body { background: #d3e9dd url(/img/bkg_txt.png) center top no-repeat; }

a { 
    color: #bd1622;
    text-decoration: none; }
            
    a:hover { 
        color: #8e101a;
        text-decoration: underline; }
    
    a[title="telephone"] { text-decoration: none !important; }

    a[title="telephone"]:hover,
    a[title="email"]:hover { text-decoration: underline; }


#content,
#global-footer {
    margin: 0 auto;
    width: 90%;
}

    .primary > header {
        text-align: center;
        color: #bd1622;
        
    }
    
        .primary > header h1,
        .primary > header p {
            text-transform: uppercase;
            color: #bd1622;
        }
        
        .primary > header img {
            display: block;
            margin: 1.6em auto 1em;
        }
        
        .primary > header h1 {
            font-weight: 700;
            /* font-size: 16px;  font-size: 1.6rem; */
            margin: 0.67em auto;
        }
        
        .no-svg .primary > header h1 { background: url(/img/jdk_lg.png) 50% 0 no-repeat; }
        
        .primary > header p {
            font-weight: 400;
            /* font-size: 16px; */
            margin: 0;
        }
        
        .primary > header p a { 
            color: #bd1622;
            text-decoration: none; }
            
            .primary > header p a:hover { text-decoration: underline; }

        .primary > section {
            border-top: 1px solid #b3c8c5;
            border-bottom: 1px solid #b3c8c5;
            margin-top: 1em;
            text-align: justify;
        }

.social-links {
    text-align: center;
    list-style: none;
    padding: 0;
    position: relative;
    font-size: 14px;  font-size: 1.4rem;
    margin-bottom: 20px;  margin-bottom: 2rem;
}

    .social-links li {
        display: inline-block;
        width: 32%;
    }

    .social-links li:nth-child(1) {
        text-align: left;
    }
    
    .social-links li:nth-child(3) {
        text-align: right;
    }
    
        .social-links .fa {
            font-size: 24px;  font-size: 2.4rem;
            background-color: #bd1622;
            color: #fff;
            text-shadow: 0 1px 0 #8e101a;
            width: 40px;  height: 40px;
            line-height: 40px;
            border-radius: 50%;
            margin-bottom: .3em;
            text-align: center;
            transition: background-color .6s linear;
        }
        
        .social-links .fa:hover {
            background-color: #8e101a;
        }

.site-author {
    float: right;
}

.site-author a { color: #607A77; }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    #content { max-width: 520px; }
    
}

@media only screen and (min-height: 44em) {
    
    #global-footer { 
        width: 100%;
        position: fixed;
        bottom: 0; }
    
    #global-footer p { margin: 15px 20px; }
    
}

@media only screen and (min-width: 48em) {
    
    .primary > header h1 { font-size: 33px;  font-size: 3.3rem; }
    
    .primary > header p { font-size: 20px;  font-size: 2rem; }
    
    .primary > section p { font-size: 20px;  font-size: 2rem; }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
